body {
    background: #000;
}

/* Campgrounds show page image grid */
.flex {
  display: flex;
  flex-wrap: wrap;
}

.jumbotron {
  background-color: orange;
}

/* Campgrounds side menu header */
#show-name-id {
  color: white;   
}

.thumbnail .caption-full {
  padding: 11px;  
}

/* Campgrounds index page image size */
.thumbnail img {
    width: 100%;
    min-height: 200px;
    background-size: cover;
    background-position: center;
}

/* Delete button form */
.delete {
  display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
    border-radius: 3px;
}

.form-styling {
  position: relative;
  margin: 3% auto;
  padding: 5px;
  width: 350px;
  background-color: #fff;
  border-radius: 3px;
}

.form-control {
  background-color: inherit;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid black;
  box-shadow: none;
}

.form-control:focus {
  border-color: inherit;
  border-bottom: 2px solid black;
  outline: none;
  box-shadow: none;
}

.glyphicon {
  top: 2px;
  font-weight: bold;
  padding: 3px;
}
